*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    background: rgba(1, 9, 36, 0.2);
    backdrop-filter: blur(2px);
      // box-shadow: 0px 5px 10px 5px rgba(52, 87, 202, 0.2);
    height: 550px;
    width: 68rem;
    border-radius: 40px;
    border: 1px solid #425895;
    margin-bottom: 40px;
}
.Main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:10em;
    bottom: 3em;
    z-index: 2;
}
.round-patch{
  position: absolute;
  top: -150px;
  left: -90px;
  z-index: -1;
  .rotate{
    transform: rotate(0deg);
    width: 40em;
  }
  .rotate-1{
    position: absolute;
  bottom: -500px;
  right: -500px;
  z-index: -1;
  width: 40em;
  transform: rotate(180deg);
  }
}

@media (max-width: 1300px) {
    .container {
      width: 90%;
    }
    .rotate-1{
      display: none;
    }
  }
@media(max-width:900px){
  .container{
    height: 800px;
  }
  .rotate-1{
    display: none;
  }
}
  .button-container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background:rgba(118, 116, 116,0.1) ;
    backdrop-filter: blur(2px);
    border-radius: 50px 50px 0 0 ;
    // box-shadow: 0 0 10px rgba(255,255,255,0.2);
    color: #fff;
    width: 100%;
    height: 60px;
    cursor: pointer;
    border-bottom:1px solid #425895;

    button{
      background: none;
      border: none;
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
    }
    li{
      text-decoration:none;
      list-style-type: none;
    }
    .secondary-header.active{
      color:#5181e880;
      padding: 1.1rem;
    }
    .secondary-header:not(.active) {
      color: white; 
  }

  }
