*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    background: rgba(1, 9, 36, 0.5);
    backdrop-filter: blur(2px);
    height: 550px;
    width: 68rem;
    border-radius: 40px;
    border: 1px solid #425895;
    margin-bottom: 40px;
}
.Main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:10em;
    bottom: 3em;
    z-index: 2;
}
.round-patch{
  position: absolute;
  top: -150px;
  left: -90px;
  z-index: -1;
  .rotate{
    transform: rotate(0deg);
    width: 40em;
  }
  .rotate-1{
    position: absolute;
  bottom: -500px;
  right: -500px;
  z-index: -1;
  width: 40em;
  transform: rotate(180deg);
  }
}

@media (max-width: 1300px) {
    .container {
      width: 90%;
    }
    .rotate-1{
      display: none;
    }
  }
@media(max-width:900px){
  .container{
    height: 800px;
  }
  .rotate-1{
    display: none;
  }
}
  .button-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:rgba(118, 116, 116,0.1) ;
    backdrop-filter: blur(2px);
    border-radius: 50px 50px 0 0 ;
    // box-shadow: 0 0 10px rgba(255,255,255,0.2);
    color: #fff;
    height: 60px;
    cursor: pointer;
    border-bottom:1px solid #425895;
    margin: 0;
    padding: 0;
    li{
      text-decoration:none;
      list-style-type: none;
    }
    .secondary-header-1.active{
      background-color:#0C255980;
      border-right: 2px solid #1e429080;
    }
    .secondary-header:not(.active) {
      color: white; 
  }

  }
  .button-container li{
    margin: 0;
  }
.secondary-header-1{
  height: 56px;
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 33px 0 0 0;
}
.secondary-header-2{
  height: 56px;
  display: grid;
  padding: 1rem;
  place-content: center;
}
.secondary-header-2.active{
  background-color:#0C255980;
  border-right: 2px solid #1e429080;
  border-left: 2px solid #1e429080;
}
.secondary-header-3{
  height: 56px;
  padding: 1rem ;
  display: grid;
  place-content: center;
}
.secondary-header-4{
  height: 56px;
  padding: 1rem;
  display: grid;
  place-content: center;
}
.secondary-header-5{
  height: 56px;
  padding: 1rem;
  display: grid;
  place-content: center;
  border-radius: 0 33px 0 0 ;
}
.secondary-header-3.active{
  background-color:#0C255980;
  border-right: 2px solid #1e429080;
  border-left: 2px solid #1e429080;
}
.secondary-header-4.active{
  background-color:#0C255980;
  border-right: 2px solid #1e429080;
  border-left: 2px solid #1e429080;
}
.secondary-header-5.active{
  background-color:#0C255980;
  border-left: 2px solid #1e429080;
}