.frame-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
    gap:1.2rem;
    .main-heading{
        color:#3070E5 ;
        font-size: 44px;
        font-weight: 700;
        line-height: 70px;

    }
    .sub-heading{
        font-size: 36px;
        font-weight: 600;
        line-height: 70px;
        color: #FFFFFF;
    }
}
.property-group{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 48em;
    height: 5em;
  input{
    outline: none;
    border: none;
    border-bottom: 1px solid white;
  }
}
.properties{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 48em;
    background:linear-gradient(
        #091334d9,#060D22D9
      );
      border: 1px solid rgb(184, 183, 183) ;
      color: #fff;
      border-radius: 10px;
      padding: 0.6em 0.2em 0.6em 0.2em ;
}
 

.transparent-input {
    background:linear-gradient(
      #202B4ED9,#060D22D9
    );
    border: 1px solid rgb(184, 183, 183) ;
    color: #fff;
    font-size: 16px; 
    border-radius: 10px;
    height: 5em;
    width: 48em;
  
    &::placeholder {
      color: #ccc; 
      padding: 2em;
    }
  }

  .transparent-input-description {
    background:linear-gradient(
      #202B4ED9,#060D22D9
    );
    border: 1px solid rgb(172, 170, 170) ;
    color: #fff;
    font-size: 16px; 
    border-radius: 10px;
    height: 10em;
    width: 48em;
  
    &::placeholder {
      color: #ccc; 
      padding: 2em;
    }
    input::placeholder{
        position: absolute;
            top: 0px;
            left: 10px;
            color: #888;
            font-size: 14px;
    }
  }
  .details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(1, 9, 36, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 0 10 10px rgba(30, 44, 84, 0.1) inset;
    border-radius: 40px;
    border: 1px solid #425895;
    padding: 4em;
    gap:1.2rem;

    .image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #29355FBF;
    backdrop-filter: blur(2px);
    border-radius: 40px;
    width: 48em;
    height: 20em;
    color: white;
    }
}
.remove-btn{
    background:transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 0.4rem;
}

  .add-more-btn{
    background-color: #0E47AF;
        height: 40px;
        width: 110px;
        border-radius: 10px;
        display: grid;
        place-content: center;
        cursor: pointer;
  }

  @media (max-width:1200px){
    .frame-main-container{
    .main-heading{
        font-size: 35px;
    }
    .sub-heading{
        font-size: 28px;
    }
    .sub-text{
        font-size: 18px;
    }
    .transparent-input{
        height: 4em;
    width: 36em;
    border-radius: 10px;
    }
    .image-box{
        width: 36em;
        height: 20em;
    }
    .transparent-input-description{
        height: 5em;
    width: 36em;
    border-radius: 10px;
    }
    .properties{
        width: 36em;
        height: 7em;
    }
    .property-group{
        width: 36em;
    }
}
}

@media (max-width:800px){
    .frame-main-container{
    .main-heading{
        font-size: 25px;
    }
    .sub-heading{
        font-size: 20px;
    }
    .sub-text{
        font-size: 15px;
    }
    .transparent-input{
        height: 4em;
    width: 20em;
    border-radius: 10px;
    }
    .image-box{
        width: 20em;
        height: 20em;
    }
    .transparent-input-description{
        height: 6em;
    width: 20em;
    border-radius: 10px;
    }
    .properties{
        width: 20em;
        height: 7em;
    }
    .property-group{
        width: 18em;
        height: 4em;
    }
}
}